// UVM Testbench for {{ spec.design_name }}
`include "uvm_macros.svh"
import uvm_pkg::*;

`include "driver_{{ spec.design_name }}.sv"
`include "monitor_{{ spec.design_name }}.sv"
`include "sequencer_{{ spec.design_name }}.sv"
`include "agent_{{ spec.design_name }}.sv"
`include "scoreboard_{{ spec.design_name }}.sv"
`include "coverage_collector_{{ spec.design_name }}.sv"
`include "env_{{ spec.design_name }}.sv"
`include "test_{{ spec.design_name }}.sv"
`include "ral_{{ spec.design_name }}.sv"
`include "sequence_{{ spec.design_name }}.sv"
`include "sequence_item_{{ spec.design_name }}.sv"
